extends ./includes/header.pug
block content
	.container
		.page-list
			.btn-block
				h1 歌单管理
				div
					button.layui-btn.layui-btn-normal#updateList 从网易云音乐更新歌单
					button.layui-btn.layui-btn-danger#btnRemove 删除所选歌单
			table.layui-table(lay-skin="line")
				colgroup
					col(width="5%")
					col(width="10%")
					col(width="15%")
					col(width="10%")
					col(width="15%")
					col(width="15%")
					col(width="30%")
				thead
					th
						input.page-list-checkall#btnCheckAll(type="checkbox")
					th 封面
					th 标题
					th 播放次数
					th 作者
					th 操作
				tbody
					each item in data
						tr
							td
								input.page-list-checkitem(type="checkbox", value=item.id)
							td
								img(src=item.img)
							td=item.title
							td=item.playNum
							td=item.author
							td
								a.layui-btn.layui-btn-primary.layui-btn-sm(href="/admin/list/detail?id=" + item.id+'&oid=' + item._id) 查看
								a.layui-btn.layui-btn-danger.layui-btn-sm(href="/admin/list/remove?id=" + item.id) 删除
		include ./includes/paging.pug
	script(type="text/javascript", src="/frontend/scripts/admin.playlist.js")